.header{
    background-color: rgb(113,150,159);
}
.login-wrap{
    background: rgb(113,150,159);
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: rgb(113,150,159);
}
.el-upload--text em {
    color: rgb(113,150,159);
}
.pure-button{
    background: rgb(113,150,159);
}
.tags-li.active {
    border: 1px solid rgb(113,150,159);
    background-color: rgb(113,150,159);
}
.message-title{
    color: rgb(113,150,159);
}
.collapse-btn:hover{
    background: rgb(113,150,159);
}